@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  height: 100vh;
  background-image: url(images/background.jpg);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #3d4168;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
}

img {
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin-right: auto;
  float: left;
  filter: brightness(130%);
}

.navLinks li {
  display: inline-flex;
  padding: 0px 20px;
}

.navLinks li a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover {
  color: rgba(252, 116, 4);
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(210, 122, 99);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
}

button:hover {
  background-color: rgba(252, 116, 4, 0.8);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main .dashCard a {
  display: grid;
  grid-template-columns: 275px;
  grid-template-rows: 400px 80px;
  grid-template-areas: "images" "text";

  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 70px 35px;
  background-color: #3d4168;
  transition: 0.5s ease;
  cursor: pointer;
}

main .dashCard a:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.workOrderImage {
  grid-area: images;
  background: url(images/create.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.workOrderText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.adminImage {
  grid-area: images;
  background: url(images/admin.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.adminText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.serviceImage {
  grid-area: images;
  background: url(images/service.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.serviceText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.historyImage {
  grid-area: images;
  background: url(images/history.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.historyText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}
