@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Extra small devices (phones, 640px and down) */
@media only screen and (max-width: 640px) {
  body {
    background-image: url(../images/background.jpg);
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    margin: 5px 5px;
  }
  
  .container,
  .adminContainer,
  .serviceContainer,
  .historyContainer {
    max-width: 960px;
    width: 95%;
    background: #fff;
    padding: 10px 10px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title,
  .adminContainer .title,
  .serviceContainer .title,
  .historyContainer .title {
    font-size: 18px;
    font-weight: 600;
    position: relative;
  }
  
  .container form .formDetails,
  .adminContainer form .adminDetails,
  .serviceContainer form .serviceDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .formDetails .inputBox,
  .adminDetails .inputBox {
    width: calc(100% / 2 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .inputBox input,
  .adminDetails .inputBox input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 3px;
    font-size: 14px;
  }
  
  .formDetails .lowerBox {
    width: calc(100% / 3 - 15px);
    margin-bottom: 10px;
  }

  .lowerBox label, .inputBox label, .textBox label {
    font-size: 12px;
  }
  
  .formDetails .lowerBox select,
  input {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 3px;
  }
  
  .formDetails .textBox,
  .serviceDetails .textBox {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formDetails .textBox textarea,
  .serviceDetails .textBox textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 3px;
    font-size: 14px;
  }

  #adminTable tbody tr td input::placeholder {
    font-size: 11px;
  }
  
  #adminTable thead th:nth-child(1) {
    width: 15%;
  }
  
  #adminTable thead th:nth-child(2) {
    width: 9%;
  }
  
  #adminTable thead th:nth-child(3) {
    width: 14%;
  }
  
  #adminTable thead th:nth-child(4) {
    width: 25%;
  }
  
  #adminTable thead th:nth-child(5) {
    width: 21%;
  }
  
  #serviceTable thead th:nth-child(1) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(2) {
    width: 9%;
  }
  
  #serviceTable thead th:nth-child(3) {
    width: 16%;
  }
  
  #serviceTable thead th:nth-child(4) {
    width: 30%;
  }
  
  #serviceTable thead th:nth-child(5) {
    width: 8%;
  }
  
  #serviceTable thead th:nth-child(6) {
    width: 10%;
  }

  #historyTable thead th:nth-child(3) {
    width: 16%;
  }
  
  .checkMark {
    display: block;
    cursor: pointer;
    font-size: 140%;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
  }
  
  .checkMark:active {
    font-size: 130%;
  }
  
  .serviceDetails .truckStock {
    margin-bottom: 10px;
    font-size: 12px;
  }
  
  .serviceDetails .materialsTable {
    margin-bottom: 10px;
    width: 100%;
    font-size: 12px;
  }
  
  .serviceDetails .materialsTable table.materials {
    table-layout: fixed;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
    font-size: 12px;
  }
  
  .serviceDetails .materialsTable table tbody tr td input {
    border-radius: 5px;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(1) {
    width: 10%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(2) {
    width: 35%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(3) {
    width: 55%;
  }
  
  form .button {
    height: 30px;
    margin: 10px 0;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(52, 75, 117);
  }
  
  .tableContent {
    border-collapse: collapse;
    margin: 10px 0;
    font-size: 11px;
    min-width: 300px;
    width: 100%;
  }
  
  .tableContent thead tr th {
    background-color: rgb(52, 75, 117);
    color: #fff;
    text-align: left;
    font-weight: 550;
  }
  
  .tableContent th,td {
    padding: 5px 5px;
  }
  
  .tableContent tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tableContent tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    font-size: 12px;
    width: 95%;
  }
  
  .modal-body {
    padding: 10px 15px;
    overflow-y: auto;
    max-height: 65vh;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgb(52, 75, 117);
    border-radius: 10px 10px 0 0;
  }
  
  .close-button {
    color: #fff;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-body h2, .modal-body h3 {
    margin: 5px 0;
  }
  
  .modalList {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .modalTitle {
    align-content: center;
  }
  
  .modalText {
    display: flex;
    padding: 2px 1px
  }
  
  .modalLabel {
    display: inline-block;
    min-width: 165px;
  }
  
  #materialsTable {
    margin: 5px 0;
  }
  
  #log {
    display: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(75, 181, 67);
    text-align: center;
    width: 40%;
    height: 30px;
    float: right;
    border-radius: 10px;
    line-height: 30px;
    font-size: 17px;
  }
  
  #log.show {
    display: block;
  }
  
  .historyButton {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .historyButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .historyButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .historyButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .historyButton:focus {
    outline: 1px transparent;
  }
  
  .historyButton:before {
    display: none;
  }
  
  .historyButton:-webkit-details-marker {
    display: none;
  }
  
  .dashBody {
    margin: 0;
    height: 100vh;
    background-image: url(images/background.jpg);
  }
  
  .navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 75, 117);
    width: 100%;
    min-height: 90px;
  }
  
  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #ecf0f1;
    width: 100%;
    padding-left: 30px;
    text-decoration: none;
    /* min-width: 200px; */
  }
  
  nav {
    width: 75%;
    padding-right: 0px;
    /* max-width: 320px; */
    justify-content: center;
  }

  .dropdown {
    display: flex;
    justify-content: center;
  }

  .dropdown .dropbtn {
    margin: 0;
    background-color: inherit;
    outline: none;
    border: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 8px;
  }

  .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(52, 75, 117);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content .show {
    display: flex;
  }
  
  .navLinks {
    display: none;
    margin: auto;
    padding: 0%;
  }
  
  .navList {
    display: inline-flex;
    float: right;
    padding: 10px;
  }
  
  .navAnchor {
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    justify-content: center;
    border: solid white 1px;
  }
  
  .navAnchor:hover {
    color: rgba(252, 116, 4);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  
  main .dashCard a {
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 180px 40px;
    grid-template-areas: "images" "text";
  
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 20px 15px;
    background-color: rgb(52, 75, 117);
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  main .dashCard a:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }
  
  .workOrderText, .adminText, .serviceText, .historyText {
    grid-area: text;
    margin: 8px;
    font-size: 22px;
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .workOrderImage {
    grid-area: images;
    background: url(images/create.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .adminImage {
    grid-area: images;
    background: url(images/admin.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .serviceImage {
    grid-area: images;
    background: url(images/service.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .historyImage {
    grid-area: images;
    background: url(images/history.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .navPic img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    vertical-align: middle;
    padding: 3px;
  }
  
  .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    float: right;
  }
  
  .modal-body h1 {
    text-align: center;
  }
  
  .d1 {
    list-style-image: url(images/createSmall.png);
  }
  
  .d2 {
    list-style-image: url(images/adminSmall.png);
  }
  
  .d3 {
    list-style-image: url(images/serviceSmall.png);
  }
  
  .d4 {
    list-style-image: url(images/historySmall.png);
  }
  
  .button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .centerButton {
    text-align: center;
  }

}
/* Small devices (portrait tablets and large phones, 640px and up) */
@media only screen and (min-width: 640px) {
  body {
    background-image: url(../images/background.jpg);
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .container,
  .adminContainer,
  .serviceContainer,
  .historyContainer {
    max-width: 960px;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title,
  .adminContainer .title,
  .serviceContainer .title,
  .historyContainer .title {
    font-size: 25px;
    font-weight: 600;
    position: relative;
  }
  
  .container form .formDetails,
  .adminContainer form .adminDetails,
  .serviceContainer form .serviceDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .formDetails .inputBox,
  .adminDetails .inputBox {
    width: calc(100% / 2 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .inputBox input,
  .adminDetails .inputBox input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 3px;
    font-size: 14px;
  }
  
  .formDetails .lowerBox {
    width: calc(100% / 3 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .lowerBox select,
  input {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 3px;
  }
  
  .formDetails .textBox,
  .serviceDetails .textBox {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formDetails .textBox textarea,
  .serviceDetails .textBox textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 3px;
    font-size: 14px;
  }
  
  #adminTable thead th:nth-child(1) {
    width: 15%;
  }
  
  #adminTable thead th:nth-child(2) {
    width: 9%;
  }
  
  #adminTable thead th:nth-child(3) {
    width: 14%;
  }
  
  #adminTable thead th:nth-child(4) {
    width: 25%;
  }
  
  #adminTable thead th:nth-child(5) {
    width: 21%;
  }
  
  #serviceTable thead th:nth-child(1) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(2) {
    width: 9%;
  }
  
  #serviceTable thead th:nth-child(3) {
    width: 16%;
  }
  
  #serviceTable thead th:nth-child(4) {
    width: 30%;
  }
  
  #serviceTable thead th:nth-child(5) {
    width: 8%;
  }
  
  #serviceTable thead th:nth-child(6) {
    width: 10%;
  }

  #historyTable thead th:nth-child(3) {
    width: 16%;
  }
  
  .checkMark {
    display: inline-block;
    cursor: pointer;
    font-size: 140%;
    margin-left: 1px;
    position: fixed;
    min-width: 27px;
    min-height: 27px;
  }
  
  .checkMark:active {
    font-size: 130%;
  }
  
  .serviceDetails .truckStock {
    margin-bottom: 10px;
  }
  
  .serviceDetails .materialsTable {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .serviceDetails .materialsTable table.materials {
    table-layout: fixed;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
  }
  
  .serviceDetails .materialsTable table tbody tr td input {
    border-radius: 5px;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(1) {
    width: 10%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(2) {
    width: 35%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(3) {
    width: 55%;
  }
  
  form .button {
    height: 30px;
    margin: 10px 0;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(52, 75, 117);
  }
  
  .tableContent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
  }
  
  .tableContent thead tr th {
    background-color: rgb(52, 75, 117);
    color: #fff;
    text-align: left;
    font-weight: 550;
  }
  
  .tableContent th,td {
    padding: 5px 5px;
  }
  
  .tableContent tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tableContent tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
  }
  
  .modal-body {
    padding: 10px 15px;
    overflow-y: auto;
    max-height: 65vh;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgb(52, 75, 117);
    border-radius: 10px 10px 0 0;
  }
  
  .close-button {
    color: #fff;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-body h2, .modal-body h3 {
    margin: 5px 0;
  }
  
  .modalList {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .modalTitle {
    align-content: center;
  }
  
  .modalText {
    display: flex;
    padding: 2px 1px
  }
  
  .modalLabel {
    display: inline-block;
    min-width: 165px;
  }
  
  #materialsTable {
    margin: 5px 0;
  }
  
  #log {
    display: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(75, 181, 67);
    text-align: center;
    width: 40%;
    height: 30px;
    float: right;
    border-radius: 10px;
    line-height: 30px;
    font-size: 17px;
  }
  
  #log.show {
    display: block;
  }
  
  .historyButton {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .historyButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .historyButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .historyButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .historyButton:focus {
    outline: 1px transparent;
  }
  
  .historyButton:before {
    display: none;
  }
  
  .historyButton:-webkit-details-marker {
    display: none;
  }
  
  .dashBody {
    margin: 0;
    height: 100vh;
    background-image: url(images/background.jpg);
  }
  
  .navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 75, 117);
    width: 100%;
    min-height: 90px;
  }
  
  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 48px;
    color: #ecf0f1;
    width: 100%;
    padding-left: 15px;
    text-decoration: none;
    max-width: 232px;
  }
  
  nav {
    width: 100%;
    padding-right: 15px;
    max-width: 320px;
  }
  
  .navLinks {
    margin: auto;
    padding: 0%;
  }
  
  .navList {
    display: inline-flex;
    float: right;
    padding: 10px;
  }
  
  .navAnchor {
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    justify-content: center;
  }
  
  .navAnchor:hover {
    color: rgba(252, 116, 4);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  main .dashCard a {
    display: grid;
    grid-template-columns: 215px;
    grid-template-rows: 280px 55px;
    grid-template-areas: "images" "text";
  
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 20px 30px;
    background-color: rgb(52, 75, 117);
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  main .dashCard a:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }
  
  .workOrderText, .adminText, .serviceText, .historyText {
    grid-area: text;
    margin: 15px;
    font-size: 22px;
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .workOrderImage {
    grid-area: images;
    background: url(images/create.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .adminImage {
    grid-area: images;
    background: url(images/admin.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .serviceImage {
    grid-area: images;
    background: url(images/service.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .historyImage {
    grid-area: images;
    background: url(images/history.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .navPic img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    vertical-align: middle;
    padding: 3px;
  }
  
  .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    float: right;
  }
  
  .modal-body h1 {
    text-align: center;
  }
  
  .d1 {
    list-style-image: url(images/createSmall.png);
  }
  
  .d2 {
    list-style-image: url(images/adminSmall.png);
  }
  
  .d3 {
    list-style-image: url(images/serviceSmall.png);
  }
  
  .d4 {
    list-style-image: url(images/historySmall.png);
  }
  
  .button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .centerButton {
    text-align: center;
  }

}
/* Medium devices (landscape tablets, 750px and up) */
@media only screen and (min-width: 750px) {
  body {
    background-image: url(../images/background.jpg);
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .container,
  .adminContainer,
  .serviceContainer,
  .historyContainer {
    max-width: 960px;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title,
  .adminContainer .title,
  .serviceContainer .title,
  .historyContainer .title {
    font-size: 25px;
    font-weight: 600;
    position: relative;
  }
  
  .container form .formDetails,
  .adminContainer form .adminDetails,
  .serviceContainer form .serviceDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .formDetails .inputBox,
  .adminDetails .inputBox {
    width: calc(100% / 2 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .inputBox input,
  .adminDetails .inputBox input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 3px;
    font-size: 14px;
  }
  
  .formDetails .lowerBox {
    width: calc(100% / 3 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .lowerBox select,
  input {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 3px;
  }
  
  .formDetails .textBox,
  .serviceDetails .textBox {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formDetails .textBox textarea,
  .serviceDetails .textBox textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 3px;
    font-size: 14px;
  }
  
  #adminTable thead th:nth-child(1) {
    width: 17%;
  }
  
  #adminTable thead th:nth-child(2) {
    width: 12%;
  }
  
  #adminTable thead th:nth-child(3) {
    width: 13%;
  }
  
  #adminTable thead th:nth-child(4) {
    width: 34%;
  }
  
  #adminTable thead th:nth-child(5) {
    width: 24%;
  }
  
  #serviceTable thead th:nth-child(1) {
    width: 15%;
  }
  
  #serviceTable thead th:nth-child(2) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(3) {
    width: 15%;
  }
  
  #serviceTable thead th:nth-child(4) {
    width: 40%;
  }
  
  #serviceTable thead th:nth-child(5) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(6) {
    width: 10%;
  }

  #historyTable thead th:nth-child(3) {
    width: 13%;
  }
  
  .checkMark {
    display: inline-block;
    cursor: pointer;
    font-size: 140%;
    margin-left: 1px;
    position: fixed;
    min-width: 27px;
    min-height: 27px;
  }
  
  .checkMark:active {
    font-size: 130%;
  }
  
  .serviceDetails .truckStock {
    margin-bottom: 10px;
  }
  
  .serviceDetails .materialsTable {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .serviceDetails .materialsTable table.materials {
    table-layout: fixed;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
  }
  
  .serviceDetails .materialsTable table tbody tr td input {
    border-radius: 5px;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(1) {
    width: 10%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(2) {
    width: 35%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(3) {
    width: 55%;
  }
  
  form .button {
    height: 30px;
    margin: 10px 0;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(52, 75, 117);
  }
  
  .tableContent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
  }
  
  .tableContent thead tr th {
    background-color: rgb(52, 75, 117);
    color: #fff;
    text-align: left;
    font-weight: 550;
  }
  
  .tableContent th,td {
    padding: 5px 5px;
  }
  
  .tableContent tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tableContent tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
  }
  
  .modal-body {
    padding: 10px 15px;
    overflow-y: auto;
    max-height: 65vh;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgb(52, 75, 117);
    border-radius: 10px 10px 0 0;
  }
  
  .close-button {
    color: #fff;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-body h2, .modal-body h3 {
    margin: 5px 0;
  }
  
  .modalList {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .modalTitle {
    align-content: center;
  }
  
  .modalText {
    display: flex;
    padding: 2px 1px
  }
  
  .modalLabel {
    display: inline-block;
    min-width: 165px;
  }
  
  #materialsTable {
    margin: 5px 0;
  }
  
  #log {
    display: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(75, 181, 67);
    text-align: center;
    width: 40%;
    height: 30px;
    float: right;
    border-radius: 10px;
    line-height: 30px;
    font-size: 17px;
  }
  
  #log.show {
    display: block;
  }
  
  .historyButton {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 11px;
    font-weight: 700;
    line-height: 20px;
    list-style: none;
    padding: 3px 8px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .historyButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .historyButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .historyButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .historyButton:focus {
    outline: 1px transparent;
  }
  
  .historyButton:before {
    display: none;
  }
  
  .historyButton:-webkit-details-marker {
    display: none;
  }
  
  .dashBody {
    margin: 0;
    height: 100vh;
    background-image: url(images/background.jpg);
  }
  
  .navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 75, 117);
    width: 100%;
    min-height: 90px;
  }
  
  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 48px;
    color: #ecf0f1;
    width: 100%;
    padding-left: 30px;
    text-decoration: none;
    max-width: 230px;
  }
  
  nav {
    min-width: 350px;
    max-width: 374px;
    padding-right: 30px;
  }
  
  .navLinks {
    margin: auto;
    padding: 0%;
  }
  
  .navList {
    display: inline-flex;
    float: right;
    padding: 10px;
  }
  
  .navAnchor {
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    justify-content: center;
  }
  
  .navAnchor:hover {
    color: rgba(252, 116, 4);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  main .dashCard a {
    display: grid;
    grid-template-columns: 275px;
    grid-template-rows: 400px 80px;
    grid-template-areas: "images" "text";
  
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 30px 30px;
    background-color: rgb(52, 75, 117);
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  main .dashCard a:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }
  
  .workOrderText, .adminText, .serviceText, .historyText {
    grid-area: text;
    margin: 25px;
    font-size: 22px;
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .workOrderImage {
    grid-area: images;
    background: url(images/create.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .adminImage {
    grid-area: images;
    background: url(images/admin.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .serviceImage {
    grid-area: images;
    background: url(images/service.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .historyImage {
    grid-area: images;
    background: url(images/history.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .navPic img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    vertical-align: middle;
    padding: 3px;
  }
  
  .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    float: right;
  }
  
  .modal-body h1 {
    text-align: center;
  }
  
  .d1 {
    list-style-image: url(images/createSmall.png);
  }
  
  .d2 {
    list-style-image: url(images/adminSmall.png);
  }
  
  .d3 {
    list-style-image: url(images/serviceSmall.png);
  }
  
  .d4 {
    list-style-image: url(images/historySmall.png);
  }
  
  .button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .centerButton {
    text-align: center;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background-image: url(../images/background.jpg);
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
  }
  
  main {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .container,
  .adminContainer,
  .serviceContainer,
  .historyContainer {
    max-width: 960px;
    width: 100%;
    background: #fff;
    padding: 20px 20px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .container .title,
  .adminContainer .title,
  .serviceContainer .title,
  .historyContainer .title {
    font-size: 25px;
    font-weight: 600;
    position: relative;
  }
  
  .container form .formDetails,
  .adminContainer form .adminDetails,
  .serviceContainer form .serviceDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  
  .formDetails .inputBox,
  .adminDetails .inputBox {
    width: calc(100% / 2 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .inputBox input,
  .adminDetails .inputBox input {
    height: 30px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid black;
    padding-left: 3px;
    font-size: 14px;
  }
  
  .formDetails .lowerBox {
    width: calc(100% / 3 - 15px);
    margin-bottom: 10px;
  }
  
  .formDetails .lowerBox select,
  input {
    height: 30px;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 3px;
  }
  
  .formDetails .textBox,
  .serviceDetails .textBox {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .formDetails .textBox textarea,
  .serviceDetails .textBox textarea {
    width: 100%;
    max-width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 3px;
    font-size: 14px;
  }
  
  #adminTable thead th:nth-child(1) {
    width: 20%;
  }
  
  #adminTable thead th:nth-child(2) {
    width: 15%;
  }
  
  #adminTable thead th:nth-child(3) {
    width: 10%;
  }
  
  #adminTable thead th:nth-child(4) {
    width: 35%;
  }
  
  #adminTable thead th:nth-child(5) {
    width: 20%;
  }
  
  #serviceTable thead th:nth-child(1) {
    width: 15%;
  }
  
  #serviceTable thead th:nth-child(2) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(3) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(4) {
    width: 45%;
  }
  
  #serviceTable thead th:nth-child(5) {
    width: 10%;
  }
  
  #serviceTable thead th:nth-child(6) {
    width: 10%;
  }
  
  .checkMark {
    display: inline-block;
    cursor: pointer;
    font-size: 140%;
    margin-left: 7px;
    position: fixed;
    min-width: 27px;
    min-height: 27px;
  }
  
  .checkMark:active {
    font-size: 130%;
  }
  
  .serviceDetails .truckStock {
    margin-bottom: 10px;
  }
  
  .serviceDetails .materialsTable {
    margin-bottom: 10px;
    width: 100%;
  }
  
  .serviceDetails .materialsTable table.materials {
    table-layout: fixed;
    width: 100%;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2px;
  }
  
  .serviceDetails .materialsTable table tbody tr td input {
    border-radius: 5px;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(1) {
    width: 10%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(2) {
    width: 35%;
  }
  
  .serviceDetails .materialsTable table thead th:nth-child(3) {
    width: 55%;
  }
  
  form .button {
    height: 30px;
    margin: 10px 0;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: rgb(52, 75, 117);
  }
  
  .tableContent {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
  }
  
  .tableContent thead tr th {
    background-color: rgb(52, 75, 117);
    color: #fff;
    text-align: left;
    font-weight: 550;
  }
  
  .tableContent th,td {
    padding: 5px 5px;
  }
  
  .tableContent tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tableContent tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 600px;
  }
  
  .modal-body {
    padding: 10px 15px;
    overflow-y: auto;
    max-height: 65vh;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgb(52, 75, 117);
    border-radius: 10px 10px 0 0;
  }
  
  .close-button {
    color: #fff;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-body h2, .modal-body h3 {
    margin: 5px 0;
  }
  
  .modalList {
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .modalTitle {
    align-content: center;
  }
  
  .modalText {
    display: flex;
    padding: 2px 1px
  }
  
  .modalLabel {
    display: inline-block;
    min-width: 165px;
  }
  
  #materialsTable {
    margin: 5px 0;
  }
  
  #log {
    display: none;
    margin-top: 10px;
    color: white;
    background-color: rgb(75, 181, 67);
    text-align: center;
    width: 40%;
    height: 30px;
    float: right;
    border-radius: 10px;
    line-height: 30px;
    font-size: 17px;
  }
  
  #log.show {
    display: block;
  }
  
  .historyButton {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
  }
  
  .historyButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .historyButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .historyButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .historyButton:focus {
    outline: 1px transparent;
  }
  
  .historyButton:before {
    display: none;
  }
  
  .historyButton:-webkit-details-marker {
    display: none;
  }
  
  .dashBody {
    margin: 0;
    height: 100vh;
    background-image: url(images/background.jpg);
  }
  
  .navHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(52, 75, 117);
    width: 100%;
    min-height: 90px;
  }
  
  .navTitle {
    font-family: 'Righteous', cursive;
    font-weight: 500;
    font-size: 48px;
    color: #ecf0f1;
    width: 100%;
    padding-left: 30px;
    text-decoration: none;
    max-width: 280px;
  }
  
  nav {
    min-width: 660px;
    max-width: 660px;
    padding-right: 30px;
  }
  
  .navLinks {
    margin: auto;
    padding: 0%;
  }
  
  .navList {
    display: inline-flex;
    float: right;
    padding: 10px;
  }
  
  .navAnchor {
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
    justify-content: center;
  }
  
  .navAnchor:hover {
    color: rgba(252, 116, 4);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  main .dashCard a {
    display: grid;
    grid-template-columns: 275px;
    grid-template-rows: 400px 80px;
    grid-template-areas: "images" "text";
  
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 70px 35px;
    background-color: rgb(52, 75, 117);
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
  }
  
  main .dashCard a:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  }
  
  .workOrderText, .adminText, .serviceText, .historyText {
    grid-area: text;
    margin: 25px;
    font-size: 22px;
    color: #ecf0f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  .workOrderImage {
    grid-area: images;
    background: url(images/create.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .adminImage {
    grid-area: images;
    background: url(images/admin.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .serviceImage {
    grid-area: images;
    background: url(images/service.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .historyImage {
    grid-area: images;
    background: url(images/history.png);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  
  .navPic img {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    vertical-align: middle;
    padding: 3px;
  }
  
  .closeButton {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    float: right;
  }
  
  .modal-body h1 {
    text-align: center;
  }
  
  .d1 {
    list-style-image: url(images/createSmall.png);
  }
  
  .d2 {
    list-style-image: url(images/adminSmall.png);
  }
  
  .d3 {
    list-style-image: url(images/serviceSmall.png);
  }
  
  .d4 {
    list-style-image: url(images/historySmall.png);
  }
  
  .button-70 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat,sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .centerButton {
    text-align: center;
  }
}