@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  margin: 0;
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: #24252a;
}

footer {
  padding: 10px 10px;
  background-color: #24252a;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ecf0f1;
  text-decoration: none;
}

img {
  height: 40px;
  width: 120px;
  cursor: pointer;
  margin-right: auto;
  float: left;
}

.navLinks li {
  display: inline-flex;
  padding: 0px 20px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerLinks a {
  font-size: 12px;
}

.navLinks li a,
.footerLinks a {
  transition: all 0.3s ease 0s;
}

.navLinks li a:hover,
.footerLinks a:hover {
  color: #0088a9;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  text-align: center;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

main {
  height: 100vh;
  background-image: url(background.jpg);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

main .dashCard a {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 450px 100px;
  grid-template-areas: "images" "text";

  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;
  margin: 30px;
  background: #24252a;
  transition: 0.5s ease;
  cursor: pointer;
}

main .dashCard a:hover {
  transform: scale(1.12);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
}

.workOrderImage {
  grid-area: images;
  background: url(create.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.workOrderText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.adminImage {
  grid-area: images;
  background: url(admin.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.adminText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.serviceImage {
  grid-area: images;
  background: url(service.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.serviceText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}

.historyImage {
  grid-area: images;
  background: url(history.png);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}

.historyText {
  grid-area: text;
  margin: 25px;
  font-size: 22px;
}
