@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/background.jpg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.container,
.adminContainer,
.serviceContainer,
.historyContainer {
  max-width: 960px;
  width: 100%;
  background: #fff;
  padding: 20px 20px;
  margin: 2px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.container .title,
.adminContainer .title,
.serviceContainer .title,
.historyContainer .title {
  font-size: 25px;
  font-weight: 600;
  position: relative;
}

.container form .formDetails,
.adminContainer form .adminDetails,
.serviceContainer form .serviceDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

.formDetails .inputBox,
.adminDetails .inputBox {
  width: calc(100% / 2 - 15px);
  margin-bottom: 10px;
}

.formDetails .inputBox input,
.adminDetails .inputBox input {
  height: 30px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  padding-left: 3px;
  font-size: 14px;
}

.formDetails .lowerBox {
  width: calc(100% / 3 - 15px);
  margin-bottom: 10px;
}

.formDetails .lowerBox select,
input {
  height: 30px;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding-left: 3px;
}

.formDetails .textBox,
.serviceDetails .textBox {
  width: 100%;
  margin-bottom: 10px;
}

.formDetails .textBox textarea,
.serviceDetails .textBox textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  padding-left: 3px;
  font-size: 14px;
}

#adminTable thead th:nth-child(1) {
  width: 20%;
}

#adminTable thead th:nth-child(2) {
  width: 15%;
}

#adminTable thead th:nth-child(3) {
  width: 10%;
}

#adminTable thead th:nth-child(4) {
  width: 35%;
}

#adminTable thead th:nth-child(5) {
  width: 20%;
}

.checkMark {
  margin: 0 0 0 18px;
  cursor: pointer;
  color: rgb(52, 75, 117);
}

.serviceDetails .truckStock {
  margin-bottom: 10px;
}

.serviceDetails .materialsTable {
  margin-bottom: 10px;
  width: 100%;
}

.serviceDetails .materialsTable table.materials {
  table-layout: fixed;
  width: 100%;
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
}

.serviceDetails .materialsTable table tbody tr td input {
  border-radius: 5px;
}

.serviceDetails .materialsTable table thead th:nth-child(1) {
  width: 10%;
}

.serviceDetails .materialsTable table thead th:nth-child(2) {
  width: 35%;
}

.serviceDetails .materialsTable table thead th:nth-child(3) {
  width: 55%;
}

form .button {
  height: 30px;
  margin: 10px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: white;
  background-color: rgb(52, 75, 117);
}

.tableContent {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  width: 100%;
}

.tableContent thead tr th {
  background-color: rgb(52, 75, 117);
  color: #fff;
  text-align: left;
  font-weight: 550;
}

.tableContent th,td {
  padding: 5px 5px;
}

.tableContent tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tableContent tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: rgb(52, 75, 117);
  border-radius: 10px 10px 0 0;
}

.close-button {
  color: #fff;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: 300;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modalList {
  list-style: none;
  padding: 5px 0;
}

.modalTitle {
  align-content: center;
}

.modalText {
  padding: 2px 1px
}

.modalLabel {
  display: inline-block;
  width: 165px;

}

#materialsTable {
  margin: 5px 0;
}

#log {
  display: none;
}

#log.show {
  display: block;
}